/*-------------------------
     responsive media queries
------------------------------ */
/* mobile devices */
@media screen and (max-width:576px) {
    nav > ul {
        flex-direction: column;
        max-width: 370px;
        margin: 0 auto;
    }
    .nav-logo-container{
        width: 200px;
        margin: 80px auto 10px;
    }
    .nav-items {
        flex-direction: column;
    }
    .nav-items li{
      margin: 10px 0 10px 50px;
    }
    #nav-bg{
      margin:20px 0 20px 80px;
  }
  /* banner design */
  .banner-bg-container{
    background-image: none;
  }
  .banner-container{
    flex-direction: column-reverse; 
    
  }
  .banner-content{
    width: 90%;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    padding: 80px;
    padding-right: 30px;
}
.banner-content h3{
  font-size: 2rem;
}
.banner-content h1{
  font-size: 3.9rem;
}
  .banner-img{
    width: 100%;
    margin-left: 30px;
}
/* Online Games Funny Videos section */
.games-videos-container h2 {
  font-size: 1.7rem;
}
.gradient-font-size{
  font-size: 1.7rem;
}
.card-container{
  grid-template-columns:  1fr;
  margin-left: 50px;
}
.card-text{
  text-align: center;
  font-size: 1rem;
}
/* Play Instantly section */

}


/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    nav > ul {
        flex-direction: column;
        max-width: 650px;
        margin: 0 auto;
    }
    .nav-logo-container{
        margin-left:200px;
        margin-top: 80px;
    }
    .nav-items li{
        margin: 20px;
    }
    /* banner design */
    .banner-bg-container{
      background-image: none;
    }
  .banner-container{
    flex-direction: column-reverse; 
  }
  .banner-content{
    width: 100%;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: -5em;
    padding-left: 150px;
}
  .banner-img{
    width: 100%;
}
/* Online Games Funny Videos section */
.card-container{
  grid-template-columns: repeat(2, 1fr);
  margin-left: 0;
}
/* Play Instantly section */
}